:root {
    --theme-color: darkgray;
    --TYPE_NORMAL: 157, 157, 113;
    --TYPE_FIRE: 238, 129, 48;
    --TYPE_WATER: 99, 144, 240;
    --TYPE_ELECTRIC: 207, 154, 9;
    --TYPE_GRASS: 98, 161, 61;
    --TYPE_ICE: 101, 161, 158;
    --TYPE_FIGHTING: 194, 46, 40;
    --TYPE_POISON: 160, 64, 160;
    --TYPE_GROUND: 177, 149, 79;
    --TYPE_FLYING: 135, 118, 183;
    --TYPE_PSYCHIC: 229, 85, 125;
    --TYPE_BUG: 128, 143, 19;
    --TYPE_ROCK: 184, 160, 56;
    --TYPE_GHOST: 115, 87, 151;
    --TYPE_DRAGON: 111, 53, 252;
    --TYPE_DARK: 112, 87, 70;
    --TYPE_STEEL: 150, 148, 166;
    --TYPE_FAIRY: 214, 133, 173;
    --blue-border: #335796;
}

body {
    font-family: 'Roboto Condensed', 'Pragati Narrow', Arial, sans-serif;
    font-size: 1.3rem;
    color: #f1f1f1;
    background: #1f2023;
}

.hide, .hideDefaultInput {
    display: none !important;
}

button[type="button"]{
    background: rgba(0, 0, 0, 0.5);
    outline: none;
    padding: 8px;
    border-radius: 12px;
    font-weight: 700;
    color: #f1f1f1;
    cursor: pointer;
}

button.disable {
    border: 2px solid var(--blue-border);
}

button.default {
    border: 2px solid darkgreen;
}

button.replace {
    border: 2px solid burlywood;
}

button[type='button']:hover {
    background: rgba(255, 255, 255, 0.2) !important;
}

.clicked {
    background: rgba(255, 255, 255, 0.1) !important;
    font-weight: 700;
}

textarea, input[type="text"] {
    resize: none;
    background: #0a0a0b;
    color: white;
    font-size: 1.1rem;
    border: 2px solid #555;
}

#pasteArea, #outputArea, #replaceArea {
    margin: 5vh 0 0 15%;
    width: 70%;
    height: 75vh;
}

#settingsContainer {
    text-align: center;
}

fieldset span:last-child {
    width: 25%;
    flex: none;
    -webkit-flex: none;
}

#trainerStructName {
    width: 25%;
}

input[type="text"]:not([required]) {
    width: 75%;
}

input[id*="DefaultInput"] {
    width: max(25%, 60px) !important;
}

#trainerStructInput {
    width: 35% !important;
}

.required::placeholder {
    color: red;
}

#settingsButton, #pasteAreaButton, #outputAreaButton, #replaceAreaButton {
    margin: 2% auto 2% auto;
    width: 7vw;
    height: 3vh;
    min-width: 100px;
    min-height: 50px;
}

.sticky {
    position: sticky;
    top: 0;
    background: #1f2023;
}

legend {
    color: bisque;
}

label {
    width: max(10%, 70px);
    display: inline-block;
    text-align: right !important;
    margin: 5px 0px 5px 0px;
}

fieldset {
    display:-webkit-flex;
    -webkit-justify-content:center;

    display:flex;
    justify-content:center;
    border: 1px solid var(--theme-color);
}

fieldset span{
    -webkit-flex:1;
    flex:1;
}

.textAlign {
    text-align: center;
}

#copyToClipboardStatus {
    color: lime;
}